@charset "UTF-8";

/* common ui */
.button{
  font-size: 16px;
  font-weight: 700;
  height: 32px;
  line-height: 32px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 10px;
  margin: 10px;
  color: #333;
  /* background: #18d26e; */
  border: 2px solid #333;
  text-transform: uppercase;
  transition: 0.5s;
}

.pc{display: block;}
.mobile-tab{display: none;}

.button:hover{
  background: white;
  color: #4a4a4a;
}


/* 상단으로 가기버튼 */
.back_to_top{
  position: fixed;
  width: 30px;
  height: 30px;
  right: 10px;
  bottom: 10px;
  background:black;
  z-index: 900;
  /* border-radius: 100%; */
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0,0,0,.2);
  /* 노출과 비노출 시 transition */
  opacity: 0;
  transition: .5s;
}

.back_to_top a{
  width: 100%;
  height: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.on{
  opacity: 1;
}

/* mobile button area */
input[type=checkbox]#gnbcheck{ display: none; }

#gnbbtn{
  position: absolute;
  top: 35px;
  right: 10px;
  width: 32px;
  height: 32px;
  z-index: 900;
  display: none;
}

/* mobile button line style */
#gnbbtn > span{
  position: absolute;
  width: 32px;
  height: 2px;
  background: #4a4a4a;
  top: 16px;
  transform: translateY(-50%);
  /* transition: .5s; */
}

#gnbbtn > span:nth-child(1){
  top: 8px;
}

#gnbbtn > span:nth-child(3){
  top: 24px;
}

/* mobile close button */
#mobile_close_btn{
  display: none;
  position: absolute;
  top: 35px;
  right: 10px;
  width: 32px;
  height: 32px;
}

#mobile_close_btn:before,#mobile_close_btn:after{
  content: '';
  position: absolute;
  height: 1.6px;
  width: 32px;
  background: #ffffff;
  top: 16px;
  transform: translate(-50%) rotate(40deg);
}

#mobile_close_btn:before{
  transform: translate(-50%) rotate(-40deg);
}


/* header area*/
#header{
  position: fixed;
  width: 100%;
  height: 100px;
  overflow: hidden;
  top: 0;
  background: rgba(246, 245, 239, 0.6);
  /* background: #9b704d; */
  z-index: 800;
}

/* top logo area */
#top_logo{
  float: left;
}

#top_logo a{
  color: white;
  height: 100px;
  line-height: 100px;
  padding: 0 0 0 20px;
  font-size: 24px;
}

#top_logo img{
  position: absolute;
  top: 11%;
}

/* gnb area*/
#gnb{
  float: right;
}

#gnb ul{
  overflow: hidden;
}

#gnb ul li{
  float: left;
}

#gnb ul li a{
  display: block;
  height: 100px;
  line-height: 100px;
  padding: 0 25px;
  font-weight: 500;
  color: #4a4a4a;
}

/* section common style */
section{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  background: white;
  /* background: gray; */
  box-sizing: border-box;
}

section #intro{
  min-height: 700px;
}

#intro .main-one{
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  /* background: url('../img/star/main-bg2.png'); */
  background-color: #dbece2;
  background-repeat: no-repeat;
  background-size: cover;
}

#intro .main-two{
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  /* background: url('../img/star/main-bg1.png'); */
  background: #71539d;
  background-repeat: no-repeat;
  background-size: cover;
}

#intro .main-three{
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 650px;
  display: block;
  background: url('../img/star/main-bg3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 185px;
  margin: 0 auto;
}

#intro .main1{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 230px;
  padding-bottom: 143.5px;
}

#intro .main-left{
  margin-right: 200px;
}

#intro .main2{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 170px;
  padding-bottom: 78.5px;
}

#intro .main3{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 1100px;
  margin: 0 auto;
}

#intro .main-left2{
  padding-bottom: 48px;
  margin-left: 50px;
  width: 200px;
  text-align: center;
}

#intro .main-left2 p{
  color: #4a4a4a;
}

#intro .main-left2 p.fw-900{
  display: inline-block;
  padding-bottom: 15px;
  margin-bottom: 16px;
  border-bottom: 1px solid #000;
}

#intro .main-left2 img{
  display: inline-block;
  width: 250px;
  height: auto;
}

#intro .main-right2{
  width: 230px;
  text-align: center;
}

#intro .main-right2 P{
  color: #4a4a4a;
}
#intro .main-right2 P.fw-900{
  display: inline-block;
  padding-bottom: 15px;
  margin-bottom: 16px;
  border-bottom: 1px solid #000;
}

#intro .maintxt{
  left: 30%;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-left: 100px;
  padding-right: 150px;
}

#intro .maintxt img{
  padding-bottom: 20px;
}

#intro .maintxt .button{
  margin-left: 20px;
}

#intro .mobile-box{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
}

section .ect{
  width: 100%;
  margin: 0 auto;
  height: 300px;
  text-align: center;
  background-image: url('../img/star/main/ect-bg1.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

section .ect p{
  display: inline-block;
  margin-top: 120px;
  font-weight: 900;
  letter-spacing: 0.8em;
  color: #ccc;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

#coffee{
  width: 100%;
}

.coffee{
  width: 100%;
  height: 450px;
  background-image: url('../img/star/main/coffee-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.coffee .text1{
  position: absolute;
  left: 57%;
  top: 23%;
  height: 100%;
  margin: 0 auto;
}

.coffee .text-right{
  height: 100%;
  text-align: left;
  color: #fff;
}

.coffee .text-right .fs-16{
  line-height: 30px;
  margin-bottom: 25px;
}

.coffee .text-right .button{
  margin: 0;
  border-color: #fff;
  color: white;
}

.coffee .text-right .button:hover{
  color: #4a4a4a;
}

.bean{
  width: 100%;
}

.bean .bean1{
  width: 100%;
  height: 400px;
  background-color: #f2d8bd;
  background-image: url('../img/star/main/bean2.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: auto;
}

.bean .bean1 .text-left{
  width: 65%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 20;
}

.bean .bean1 .text-left .button{
  margin-top: 50px;
  z-index: 20;
  border-color: #815a33;
  color: #815a33;
}

.bean .bean2{
  width: 100%;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url('../img/star/main/bean2_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.bean2 .bean-img img{
  width: auto;
  height: 500px;
  overflow: hidden;
}

.bean2 .text-right p:first-child{
  color: #336beb;
  font-weight: 600;
}

.bean2 .text-right{
  margin-left: 150px;
}

.bean2 .text-right h2{
  color: #193472;
}

.bean2 .text-right p.fs-16:nth-of-type(2){
  color: #222;
  line-height: 30px;
  margin-bottom: 30px;
}

.bean2 .text-right .button{
  margin: 0;
  border-color: #193472;
  color: #193472;
}

.event{
  width: 100%;
  height: 400px;
  background: url('../img/star/main/event-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.event .text-right{
  position: absolute;
  color: #fff;
  left: 57%;
  top: 120px;
}

.event .text-right .fs-16{
  line-height: 30px;
  margin-bottom: 30px;
}

.event .text-right .button{
  margin: 0;
  border-color: #fff;
  color: #fff;
}

.event .text-right .button:hover{
  color: #4a4a4a;
}

.event2{
  width: 100%;
  height: 800px;
  background: url('../img/star/main/event2-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.event2 .event2-box{
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.event2 .event-text{
  color: #fff;
  text-align: right;
  margin-right: 100px;
}

.event2 .event-img{
  margin-left: 100px;
}

.event2 .event-text .button{
  margin: 0;
  margin-top: 30px;
  border-color: #fff;
  color: #fff;
}

.event2 .event-text h2{
  padding: 20px 0;
}

.event2 .event-text p{
  margin-bottom: 5px;
}

.event2 .event-text .button:hover{
  color: #4a4a4a;
}

.magazine{
  height: 700px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.magazine .maga-img{
  display: inline-block;
  padding-right: 100px;
  border-right: 1px solid #666;
  z-index: 10;
}

.magazine .maga1{
  display: block;
  padding-left: 100px;
  padding-bottom: 50px;
}

.magazine .maga2{
  padding-left: 100px;
  font-weight: bold;
  color: #222;
}

.magazine .maga2::before{
  content: '';
  position: absolute;
  left: 35%;
  top: 55%;
  width: 1000px;
  height: 1px;
  background: #666;
}

.store{
  height: 440px;
  background: url('../img/star/main/store_bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.store-wrap{
  max-width: 1400px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.store-img2{
  display: inline-block;
  position: absolute;
  left: 33%;
  top: 35%;
}

.store-img3{
  display: inline-block;
  position: absolute;
}

.store-text{
  height: 100%;
  margin-top: 110px;
  color: #222;
  z-index: 10;
}

.store-text h2{
  margin-bottom: 7px;
}

.store-text p.fs-18{
  margin-bottom: 15px;
}

.store-text p:nth-child(3){
  margin-bottom: 5px;
}

.store-text p:nth-child(4){
  margin-bottom: 5px;
}

.store-text .button{
  margin: 0;
  margin-top: 30px;
}

.store-img4{
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 15%;
}

.store-img4 img{
  bottom: 0;
}

/*progress bar style*/


/* footer area */
#footer{
  width: 100%;
  color: #fff;
  background: #2C2A29;
}

.footer-wrap{
  max-width: 1400px;
  margin: 0 auto;
}

.footer1{
  padding: 60px 30px 60px 30px;
}

.foot-top{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.foot-top h4{
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.foot-top h4::before{
  content: '';
  position: absolute;
  margin-top: 26px;
  width: 30px;
  height: 2px;
  background: #fff;
}

.foot-top li{
  margin-bottom: 4px;
}

.foot-top li a{
  color: #fff;
  font-weight: 100;
}

.footer2-text{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer2-text li{
  padding: 0 15px;
  border-right: 1px solid #393939;
}

.footer2-text li:last-child{
  border: none;
}

.footer2-text li b{
  color: #00b050;
}

.footer2 .btns{
  text-align: center;
  padding-top: 30px;
}

.footer2 .btns .button{
  border-color: #fff;
  color: #fff;
  font-size: 12px;
  padding: 5px 15px;
}

.footer2 .btns .button:hover{
  color: #4a4a4a;
}

.footer2 .foot-info nav{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer2 .foot-info li{
  padding: 20px 15px;
}

.footer2 .foot-copy{
  text-align: center;
  color: #666;
  padding-bottom: 60px;
}

/*반응형 style*/
@media screen and ( max-width: 1200px ) {
  #intro .main-left{
    margin-right: 100px;
  }
  #intro .main-left{
    margin-right: 0px;
  }
  #intro .main1{
    padding-top: 200px;
    padding-bottom: 117px;
  }
  #intro .main-left img{
    width: 500px;
    height: auto;
  }
  #intro .main-right img{
    width: 250px;
    height: auto;
  }
  #intro .main2{
    padding-top: 200px;
    padding-bottom: 120px;
  }
  #intro .main3{
    max-width: 1000px;
  }
  #intro .main-three{
    padding-top: 127px;
  }
  .ect{
    max-width: 1200px;
    width: 100%;
  }
  .bean .bean1{
    max-width: 1200px;
    height: 350px;
    background-size: 100% 100%;
  }
  .bean .bean1 > img{
    max-width: 1200px;
    height: auto;
  }
  .bean .bean1 .text-left img{
    width: 350px;
    height: auto;
  }
  .bean .bean2{
    max-width: 1200px;
  }
  .bean2 .text-right{
    margin-left: 0;
  }
  .bean2 .bean-img img{
    height: 450px;
    width: auto;
  }
  .event2 .event-img img{
    width: 500px;
    height: auto;
  }
  .event2 .event-text{
    margin-right: 30px;
  }
  .magazine .maga-img img{
    width: 350px;
    height: auto;
  }
  .magazine .maga1 img{
    width: 420px;
    height: auto;
  }
  .magazine .maga2::before{
    width: 700px;
  }
  .store-img2{
    left: 25%;
  }
  .store-img4{
    right: 5%;
  }
}

@media screen and ( max-width: 960px ) {
  #intro .main-left img{
    width: 400px;
    height: auto;
  }
  .button{
    padding: 4px 20px;
    font-size: 12px;
  }
  #intro .main-right img{
    width: 200px;
    height: auto;
  }
  #intro .maintxt img{
    width: 200px;
    height: auto;
  }
  #intro .maintxt .button{
    margin: 0;
  }
  #intro .main-left2 img{
    width: 200px;
    height: auto;
  }
  #intro .main-right2 img{
    width: auto;
    height: 300px;
  }
  #intro .main-three{
    padding-top: 134px;
  }
  .ect{
    max-width: 960px;
    width: 100%;
  }
  .coffee{
    height: 400px;
  }
  .bean .bean1{
    max-width: 960px;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-position: right;
    background-size: 100% 100%;
  }
  .bean .bean1 > img{
    max-width: 960px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .bean .bean1 .text-left img{
    width: 250px;
    height: auto;
  }
  .bean .bean1 .text-left .button{
    margin-top: 20px;
  }
  .event2 .event-img img{
    width: 400px;
    height: auto;
  }
  .event2 .event-text{
    margin: 0;
  }
  .event2 .event-img{
    margin-left: 50px;
  }
  .magazine .maga-img img{
    width: 300px;
    height: auto;
  }
  .magazine .maga1 img{
    width: 350px;
    height: auto;
  }
  .magazine .maga2::before{
    width: 550px;
  }
  .store-img1 img{
    width: 300px;
    height: auto;
  }
  .store-img2 img{
    width: 180px;
    height: auto;
  }
  .store-img4{
    right: 3%;
  }
  .store-img4 img{
    width: 170px;
    height: auto;
  }
  .footer2-text{
    <del>-webkit-box-lines: multiple;</del>
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .footer2-text li{
    flex-basis: 200px;
    padding-bottom: 10px;
  }
}

/* tablet pc */
@media screen and ( max-width: 767px ) {
  .pc{ display: none; }
  .mobile-tab{display: block;}
  /*mobile gnb*/

  #mobile_close_btn{
    display: block;
  }

  #gnbbtn{
    display: block;
  }

  input[type=checkbox]#gnbcheck:checked ~ #header #gnb{
    left: 0;
  }

  /* input[type=checkbox]#gnbcheck:checked + #gnbbtn > span:nth-child(1){
    top: 16px;
    transform: rotate(40deg);
  }

  input[type=checkbox]#gnbcheck:checked + #gnbbtn > span:nth-child(2){
    transform: rotate(-40deg);
  }

  input[type=checkbox]#gnbcheck:checked + #gnbbtn > span:nth-child(3){
    display: none;
  } */

  #gnb{
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 80%;
    background: rgba(0,0,0,.8);
    transition: 0.5s ease-in-out;
  }

  #gnb ul{
    padding-top: 50px;
  }

  #gnb ul li{
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
  }
  #gnb ul li a{
    color: #fff;
  }

  #header{
    position: absolute;
  }

  #intro .main-left img{
    width: 300px;
    height: auto;
  }
  #intro .main-right img{
    width: 180px;
    height: auto;
  }
  #intro .maintxt{
    padding: 0;
  }
  #intro .maintxt img{
    width: 180px;
    height: auto;
  }
  #intro .main-left2 img{
    width: 180px;
    height: auto;
  }
  #intro .main-right2 img{
    width: auto;
    height: 250px;
  }
  #intro .main-three{
    padding-top: 148px;
  }
  #intro .main1{
    padding-bottom: 127px;
  }
  #intro .main2{
    padding-bottom: 130px;
  }
  .ect{
    max-width: 767px;
    width: 100%;
  }
  .coffee{
    width: 100%;
    background-image: none;
    background-color: #624e45;
  }
  .coffee .text1{
    width: 100%;
    left: 0;
  }
  .coffee .text-right{
    width: 100%;
    text-align: center;
  }
  .coffee-mob{
    position: absolute;
    z-index: 20;
    top: -80px;
  }
  .bean1-mob{
    max-width: 767px;
    height: auto;
  }
  .bean1-mob img{
    width: 100%;
    height: auto;
  }
  .bean2-mob{
    width: 100%;
    height: 700px;
    background: url('../img/star/mobile/m-bean-bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
  }
  .bean2-mob .mob-center{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .bean2-mob .mob-center .bean-img{
    overflow: hidden;
    margin: 0 auto;
  }
  .bean2-mob .mob-center .bean-img img{
    margin: 0 auto;
    width: 400px;
    height: auto;
    overflow: hidden;
  }
  .event2-mob{
    width: 100%;
    background: url('../img/star/mobile/m-event-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .bean2-mob .fs-24{
    color: #336beb;
  }
  .bean2-mob .fw-700{
    color: #193472;
  }
  .event2-mob{
    width: 100%;
    height: 1000px;
  }
  .event2-box{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .event2-box .event-img img{
    width: 450px;
    height: auto;
  }
  .event2-mob .event-text{
    text-align:center;
    color: #fff;
  }
  .event2-mob .event-text2{
    margin-top: 30px;
  }
  .fs-24{
    margin-bottom: 10px;
  }
  .fs-18{
    margin-bottom: 6px;
  }
  .event2-mob .event-text .button{
    margin: 0;
    margin-top: 30px;
    border-color: #fff;
    color: #fff;
  }
  .event2-mob .event-text .button:hover{
    color: #4a4a4a;
  }
  .maga-mob{
    width: 100%;
    height: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .maga-mob .maga-text{
    margin-top: 100px;
  }
  dl{
    width: 500px;
    margin: 20px auto;
  }
  dt{
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    text-indent: 25px;
    color: #fff;
    background: #333;
  }
  dd{
    background: #d4d0c8;
    font-size: 12px;
    color: #4a4a4a;
    line-height: 30px;
    padding: 15px 25px;
  }
  .footer2 .btns{
    padding-top: 0;
  }
}

/* mobile  */

@media screen and ( max-width: 550px ) {
  #intro .main1{
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 112px;
  }
  #intro .main2{
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 128px;
  }
  #intro .main-left{
    margin: 0
  }
  #intro .main3{
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #intro .mobile-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  #intro .main-left2 img{
    width: 150px;
    height: auto;
  }
  #intro .main-right2 img{
    width: auto;
    height: 200px;
  }
  #intro .maintxt img{
    width: 130px;
    height: auto;
  }
  #intro .maintxt{
    margin: 0;
    width: 330px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .ect{
    max-width: 550px;
    width: 100%;
  }
  .bean2-mob .mob-center .bean-img img{
    width: 350px;
    height: auto;
  }
  .event2-box .event-img img{
    width: 400px;
    height: auto;
  }
  .event2-mob .event-text img{
    width: 200px;
    height: auto;
    padding-bottom: 30px;
  }
  .fs-28{
    margin-bottom: 10px;
  }
  .fs-22{
    margin-bottom: 7px;
  }
  .maga-img img{
    width: 350px;
    height: auto;
  }
  .maga1 img{
    width: 350px;
    height: auto;
  }
  .store-wrap{
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .store-text{
    text-align: center;
  }
  .store-img1 img{
    width: 200px;
    height: auto;
  }
  .store-img2 img{
    width: 130px;
    height: auto;
  }
  .store-img2{
    top: 10%;
  }
  .store-text{
    margin-top: 30px;
  }
  dl{
    width: 300px;
    margin: 20px auto;
  }
  .footer2 .foot-info nav{
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer2 .foot-info li{
    padding: 10px 0;
  }
}

@media screen and ( max-width: 500px ) {
  #intro .main-three{
    padding-bottom: 7px;
  }
  .bean2-mob .mob-center .bean-img img{
    width: 300px;
    height: auto;
  }
  .event2-box .event-img img{
    width: 300px;
    height: auto;
  }
  .event2-mob .event-text img{
    width: 200px;
    height: auto;
    margin-bottom: 30px;
  }
  .maga-img img{
    width: 300px;
    height: auto;
  }
  .maga1 img{
    width: 300px;
    height: auto;
  }
}
